<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <%- include("./partials/error.ejs") %>
  <hr>
  <form action="/" method="get">
    <input type="text" name="search" id="search">
    <button type=" submit">Search</button>
  </form>

  <hr>

  <h1>Users:</h1>
  <ul>
    <% users.forEach(user => {%>
    <li>Username: <%= user.username %></li>
    <%   }); %>
  </ul>

  <hr>
  <a href="/new">Add user</a>
</body>

</html>